<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>WorldBank</title>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link href="../dist/main.css" rel="stylesheet">
</head>

<body>
    <form class="px-6 mt-10">

        <div class="grid grid-cols-12 border">
            <div class="col-span-1 bg-stone-200 p-2"></div>
            <div class="col-span-11 p-2">
                <h1 class="text-4xl text-gray-700 pl-4 tracking-wide">Bolalarning vasiylik tizimiga joylashtirilgan bola to&#39;g&#39;risida so&#39;rovnoma</h1>
            </div>
        </div>

        <p class="mt-4 mb-2 text-xl">KIRISH </p>
        <p class="mb-2">Ushbu ma&#39;lumotlarni to&#39;plashning asosiy maqsadi O&#39;zbekiston Hukumatini ota-ona qaramog&#39;idan mahrum bo&#39;lgan bolalarga institutsional vasiylik oila tipidagi vasiylikka o&#39;tishda qo&#39;llab-quvvatlashdan iborat Bunga erishish uchun milliy darajada mustahkam nazorat mexanizmini qurishni maqsad qilganmiz. Batafsil ma&#39;lumotlarni to&#39;plash orqali biz oilaga asoslangan alternativalarni targ&#39;ib qiluvchi dalillarga asoslangan qarorlar va qoidalarni ishlab chiqishimiz mumkin.</p>
        <p class="mb-2">Yana bir muhim vazifa nogironligi bo&#39;lgan bolalarga ko&#39;rsatilayotgan xizmatlar sifatini oshirishdir. Ularning o&#39;ziga xos ehtiyojlari va tajribalarini tushunish orqali biz maqsadli aralashuvlarni ishlab chiqishimiz va ularning umumiy farovonligini oshirishimiz mumkin. Bundan tashqari, biz ushbu bolalar uchun yetarli oilaviy turdagi vasiylik alternativalarni tadqiq qilishga va targ&#39;ib qilishga harakat qilamiz.</p>
        <p class="mb-2">Ma&#39;lumotlarni yig&#39;ish jarayoni institutsional g&#39;amxo&#39;rlik va ixtisoslashgan internat maktablariga joylashtirilgan bolalar to&#39;g&#39;risida kompleks ma&#39;lumot to&#39;plashdan iborat. Biz demografik, oilaviy ma&#39;lumotlar, sog&#39;lig&#39;i, ta&#39;lim, hayot sharoitlari va xavf-xatarli xatti-harakatlar, shuningdek tiklanish va reabilitatsiya xizmatlarining mavjudligi va samaradorligini o&#39;rganamiz.</p>
        <p class="mb-2">Iltimos, ushbu so&#39;rovnomani hozirda bolalarni vasiylik tizimidagi har bir bola va o&#39;smir uchun, ular oladigan xizmat turidan (muassasa yoki oila sharoitida) va davlat yoki xususiy xizmat tomonidan taqdim etilganidan qat&#39;iy nazar, alohida to&#39;ldiring. Ushbu so&#39;rovnoma bolalarni himoya qilish tizimi xizmatlarining quyidagi turlari bo&#39;yicha bolalar uchun to&#39;ldiriladi: bolalar/go&#39;daklar uylari, Mehribonlik uylari, &quot;Muruvvat&quot; nogironligi bo&#39;lgan bolalar uchun internat uylar, oilaviy bolalar uylari, SOS Bolalar makhallalari.</p>
        <p class="mb-2">Ma&#39;lumotni faqat bolaning yig&#39;ma jildida mavjud hujjatlar va ma&#39;lumotlarga asoslanib to&#39;ldiring. Agar muayyan bir savolga tegishli ma&#39;lumot bo&#39;lmasa, &quot;Aniqlanmagan/ Noma&#39;lum&quot; deb javobni belgilang. Iltimos, bolaning hujjatidan boshqa manbalardan olingan ma&#39;lumotni kiritmang.</p>

        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <div class="col-span-2 flex items-center">VIL. Viloyat</div>
                    <div class="col-span-3">
                        <input type="text" id="reg" name="reg" disabled class="disabled:bg-gray-100 bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <div class="col-span-2 flex items-center">TUM. Tuman</div>
                    <div class="col-span-3">
                        <input type="text" id="dis" name="dis" disabled class="disabled:bg-gray-100 bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>MA&#39;LUMOT. So&#39;rovnomani to&#39;ldirish sanasi</div>
            <div>
                <input type="text" id="data" name="data" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>

        <h2 class="mt-10 mb-4 text-xl font-medium text-gray-700">1. USHBU BOLA HAQIDA MA&#39;LUMOTNI TO&#39;LDIRGAN SHAXS</h2>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>OMR1. Ism</div>
            <div>
                <input type="text" id="omr1" name="omr1" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>OMR2. Otasining ismi</div>
            <div>
                <input type="text" id="omr2" name="omr2" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>OMR3. Familiyasi</div>
            <div>
                <input type="text" id="omr3" name="omr3" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">
                        <p>OMR4. Lavozimi/vazifalari</p>
                        <small class="italic text-red-500">Keys - menejerni ko&#39;rsatib o&#39;ting, agar u bu vazifani bajarayotgan bo&#39;lsa</small>
                    </div>
                    <div class="col-span-3">
                        <input type="text" id="omr4" name="omr4" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">OMR5. Kasbi</div>
                    <div class="col-span-3">
                        <input type="text" id="omr5" name="omr5" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">OMR6. Telefon raqami</div>
                    <div class="col-span-3">
                        <input type="text" id="omr6" name="omr6" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">OMR7. Elektron pochta</div>
                    <div class="col-span-3">
                        <input type="text" id="omr7" name="omr7" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-4 items-center mt-6">
            <div class="col-span-2">OMR8. Ushbu shaxs hozirda bola joylashtirilgan xizmatda ishlaydimi?</div>
            <div class="col-span-1 flex gap-4">
                <div class="flex items-center">
                    <input id="omr8-1" type="radio" value="1" name="omr8" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="omr8-1" class="ms-2 text-sm font-medium text-gray-900">1. Ha</label>
                </div>
                <div class="flex items-center">
                    <input id="omr8-2" type="radio" value="0" name="omr8" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="omr8-2" class="ms-2 text-sm font-medium text-gray-900">0. Yo&#39;q</label>
                </div>
            </div>
        </div>

        <small class="italic text-red-500">Agar OMR8 da javob YO&#39;Q bo&#39;lsa</small>


        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>OMR9. Shaxs ishlaydigan muassasaning nomi</div>
            <div>
                <input type="text" id="omr9" name="omr9" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>

        <h2 class="mt-10 mb-4 text-xl font-medium text-gray-700">2. BOLA HAQIDA ASOSIY MA&#39;LUMOT</h2>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Shaxsiy identifikatsiya raqami. Tug&#39;ilganlik haqidagi guvohnoma / Pasport / shaxsni tasdiqlovchi hujjat</div>
            <div>
                <input type="text" id="pin" name="pin" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>

        <p class="italic text-red-500">Bolaning tug&#39;ilganlik haqidagi guvohnoma / ID-karta / pasport raqamini kiriting. Agar bolada bu hujjatlar bo&#39;lmasa, 0 (nol) ni kiriting.</p>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>LK1a. Bolaning ismi</div>
            <div>
                <input type="text" id="lk1a" name="lk1a" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>LK1b. Bola otasining ismi</div>
            <div>
                <input type="text" id="lk1b" name="lk1b" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>LK1c. Bola familiyasi</div>
            <div>
                <input type="text" id="lk1c" name="lk1c" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 items-center mt-6">
            <div class="col-span-2">LK2. Bola jinsi</div>
            <div class="col-span-1 flex gap-4">
                <div class="flex items-center">
                    <input id="lk2-1" type="radio" value="1" name="lk2" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="lk2-1" class="ms-2 text-sm font-medium text-gray-900">1. Erkak</label>
                </div>
                <div class="flex items-center">
                    <input id="lk2-2" type="radio" value="0" name="lk2" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="lk2-2" class="ms-2 text-sm font-medium text-gray-900">2. Ayol</label>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>LK3. Tug&#39;ilgan sanasi (kun/oy/yil)</div>
            <div>
                <input type="text" id="lk3" name="lk3" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>
                <p>LK13a. Bolaning yoshi (monitoringni o&#39;tkazish kuni holatiga ko&#39;ra)</p>
                <small class="italic text-red-500">Avtomatik hisoblanadi.</small>
            </div>
            <div>
                <input type="text" id="lk13a" name="lk13a" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>
                <p>LK14a. Tug&#39;ilgan joyi</p>
                <small class="italic text-red-500">Ma&#39;muriy-hududiy birlikning 10 raqamli kodini (MHOBT) kiriting.</small>
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <div>
                    <input type="text" id="lk14a" name="lk14a" class="bg-white disabled:bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="flex items-center">
                    <input id="default-checkbox" type="checkbox" value="9" class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900">9. Ma&#39;lum emas</label>
                </div>
            </div>
        </div>


        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <div class="col-span-2">LK14b. Viloyat</div>
                    <div class="col-span-3">
                        <input type="text" id="i4a" name="i4a" disabled class="disabled:bg-gray-100 bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        <small class="italic text-red-500">(LK14a dan avtomatik ravishda hisoblab chiqiladi)</small>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <div class="col-span-2">LK14c. Tuman</div>
                    <div class="col-span-3">
                        <input type="text" id="i4b" name="i4b" disabled class="disabled:bg-gray-100 bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        <small class="italic text-red-500">(LK14a dan avtomatik ravishda hisoblab chiqiladi)</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>LK12. Bolaning etnik kelib chiqishi (millati)</div>
            <div>
                <select id="lk12" name="lk12" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="1">1. O&#39;zbek</option>
                    <option value="2">2. Rus</option>
                    <option value="3">3. Qozoq</option>
                    <option value="4">4. Tojik</option>
                    <option value="5">5. Tatar</option>
                    <option value="6">6. Qoraqalpoq</option>
                    <option value="7">7. Qirg&#39;iz</option>
                    <option value="8">8. Koreys</option>
                    <option value="9">9. Boshqa</option>
                    <option value="0">0. Ko&#39;rsatilmagan/noma&#39;lum</option>
                </select>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 mt-6">
            <div class="col-span-1 flex items-center">LK15. Bolaning qonuniy vasiysi kim?</div>
            <div class="col-span-1 flex flex-col gap-4">
                <div class="flex items-center">
                    <input id="lk15-1" type="radio" value="1" name="lk15" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="lk15-1" class="ms-2 text-sm font-medium text-gray-900">1. Uning ota-onasi</label>
                </div>
                <div class="flex items-center">
                    <input id="lk15-2" type="radio" value="2" name="lk15" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="lk15-2" class="ms-2 text-sm font-medium text-gray-900">2. Boshqa qarindoshi</label>
                </div>
                <div class="flex items-center">
                    <input id="lk15-3" type="radio" value="3" name="lk15" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="lk15-3" class="ms-2 text-sm font-medium text-gray-900">3. Muassasa direktori</label>
                </div>
                <div class="flex items-center">
                    <input id="lk15-4" type="radio" value="4" name="lk15" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                    <label for="lk15-4" class="ms-2 text-sm font-medium text-gray-900">4. Agar boshqa bo&#39;lsa, ko&#39;rsatilsin</label>
                </div>
            </div>
        </div>

    </form>
</body>

</html>
