<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>WorldBank</title>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link href="../dist/main.css" rel="stylesheet">
</head>

<body>
    <form class="px-6 mt-10">
        <div class="grid grid-cols-12 border">
            <div class="col-span-1 bg-stone-200 p-2"></div>
            <div class="col-span-11 p-2">
                <h1 class="text-4xl text-gray-700 pl-4 tracking-wide mb-4">Material resources of the institution and the living conditions of the residing children</h1>
                <p class="pl-4 text-red-800 text-sm font-medium">Questionnaire for childcare institutions and specialized boarding-schools</p>
            </div>
        </div>

        <p class="mt-4 mb-2 text-xl">INTRODUCTION </p>
        <p class="mb-2">The primary goal of this data collection is to support the Government of Uzbekistan in transitioning from institutional care to family-type care for children deprived of parental care. To achieve this, we aim to build a robust monitoring mechanism at the national level. By collecting detailed data, we can inform evidence-based decisions and policies that promote family-based alternatives. </p>
        <p class="mb-2">Another critical objective is to enhance the quality of services provided to children with disabilities in institutional care. By understanding their unique needs and experiences, we can develop targeted interventions and improve their overall well-being. Additionally, we seek to explore and promote adequate family-type alternatives for these children.</p>
        <p class="mb-2">The data collection on material and financial resources aims to assess the facilities, resources, and financial aspects of the child care institutions and boarding schools, in order to enhance the overall quality of child care services. The ultimate goal is to create safe, nurturing environments that promote the well-being and development of every child placed into care, guided by evidence.</p>
        <p class="mb-2">PURPOSE: The data collected through this instrument contributes to the assessment of childcare institutions and specialized boarding schools in terms of the material resources available to them and the living conditions they provide to those living in these institutions.</p>
        <p class="mb-2">How to complete: This questionnaire is to be completed individually for each institution operating at the time of the research (1 January 2024).</p>
        <p class="mb-2">Source of information: institution&#39;s documents</p>
        <p class="mb-2">Responsible for completion: the head of the institutions, coordinator or a person authorized by them</p>
        <p class="mb-2">Approximate average completion time: 90 minutes</p>

        <div class="grid grid-cols-2 gap-4 items-center mt-12">
            <div>Q1. Completion date of questionnaire</div>
            <div>
                <input type="text" id="q1" name="q1" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q2. Name, patronymics, and surname of the person who filled in the questionnaire</div>
            <div>
                <input type="text" id="q2" name="q2" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q3. Job title</div>
            <div>
                <input type="text" id="q3" name="q3" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q4. Profession</div>
            <div>
                <input type="text" id="q4" name="q4" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q5. Phone</div>
            <div>
                <input type="text" id="q5" name="q5" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q6. E-mail</div>
            <div>
                <input type="text" id="q6" name="q6" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <h2 class="mt-10 mb-4 text-2xl font-bold text-gray-700">1. GENERAL INFORMATION ABOUT THE INSTITUTION</h2>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I1. Name of the specialized educational institution</div>
            <div>
                <input type="text" id="i1" name="i1" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I2. Institution code from the registry</div>
            <div>
                <input type="text" id="i2" name="i2" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I3. Address of the institution</div>
            <div>
                <input type="text" id="i3" name="i3" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4. The code of the administrative-territorial unit (МҲОБТ)</div>
            <div>
                <input type="text" id="i4" name="i4" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4a. Region</div>
            <div>
                <input type="text" id="i4a" name="i4a" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4b. District</div>
            <div>
                <input type="text" id="i4b" name="i4b" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4c. Settlement</div>
            <div>
                <input type="text" id="i4c" name="i4c" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4d. Type of settlement</div>
            <div>
                <input type="text" id="i4d" name="i4d" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I9. Type of institution</div>
            <div>
                <select id="i9" name="i9" class="border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100">
                    <option selected>Please select one of the following codes</option>
                    <optgroup label="Childcare institutions:">
                        <option value="11">11. Children&#39;s home (Baby home)</option>
                        <option value="12">12. Mehribonlik house</option>
                        <option value="13">13. Muruvat house for children with disabilities</option>
                    </optgroup>
                    <optgroup label="Boarding schools:">
                        <option value="21">21. Type I-II for deaf or with hearing impairments children</option>
                        <option value="22">22. Type III-IV for blind or visually impaired children</option>
                        <option value="23">23. Type V for children with severe speech impairments</option>
                        <option value="24">24. Type VI for children with musculoskeletal disorders</option>
                        <option value="25">25. Type VII for children with slow mental development/mental disorders</option>
                        <option value="26">26. Type VIII for children with intellectual disabilities</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I10. When did the institution start operating? Please provide the year of its inception, regardless of any changes in its name or type.</div>
            <div>
                <input type="text" id="i10" name="i10" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <p class="italic uppercase mt-6 text-sm mb-2">undefined</p>
        <div class="grid grid-cols-2 gap-4 items-center">
            <div>undefined. undefined</div>
            <div class="flex items-center gap-4">
                <input type="text" id="i12a" name="i12a" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
                <span>undefined</span>
            </div>
        </div>
        <p class="italic uppercase mt-6 text-sm mb-2">undefined</p>
        <div class="grid grid-cols-2 gap-4 items-center">
            <div>undefined. undefined</div>
            <div class="flex items-center gap-4">
                <input type="text" id="i13a" name="i13a" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
                <span>undefined</span>
            </div>
        </div>
</body>

</html>
