<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>WorldBank</title>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link href="../dist/main.css" rel="stylesheet">
</head>

<body>
    <form class="px-6 mt-10">
        <div class="grid grid-cols-12 border">
            <div class="col-span-1 bg-stone-200 p-2"></div>
            <div class="col-span-11 p-2">
                <h1 class="text-4xl text-gray-700 pl-4 tracking-wide mb-4">Human resources of the institution</h1>
                <p class="pl-4 text-red-800 text-sm font-medium">Staff registry of the childcare institutions and specialized boarding-schools</p>
            </div>
        </div>

        <p class="mt-4 mb-2 text-xl">INTRODUCTION</p>
        <p class="mb-2">The primary goal of this data collection is to support the Government of Uzbekistan in transitioning from institutional care to family-type care for children deprived of parental care. To achieve this, we aim to build a robust monitoring mechanism at the national level. By collecting detailed data, we can inform evidence-based decisions and policies that promote family-based alternatives.</p>
        <p class="mb-2">Another critical objective is to enhance the quality of services provided to children with disabilities in institutional care. By understanding their unique needs and experiences, we can develop targeted interventions and improve their overall well-being. Additionally, we seek to explore and promote adequate family-type alternatives for these children. </p>
        <p class="mb-2">This questionnaire serves as a crucial tool for understanding the organizational structure and individual profiles within each child care institution and boarding school. By collecting comprehensive data, we aim to enhance decision-making, improve staff management, and ensure the well-being of both employees and the children placed into care.</p>
        <p class="mb-2">This questionnaire aims to gather information about each position within the staff structure of the institution. Whether a position is currently occupied or vacant, please complete a separate questionnaire for each position.</p>

        <div class="grid grid-cols-2 gap-4 items-center mt-12">
            <div>Q1. Completion date of questionnaire</div>
            <div>
                <input type="text" id="q1" name="q1" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q2. Name, patronymics, and surname of the person who filled in the questionnaire</div>
            <div>
                <input type="text" id="q2" name="q2" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q3. Job title</div>
            <div>
                <input type="text" id="q3" name="q3" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q4. Profession</div>
            <div>
                <input type="text" id="q4" name="q4" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q5. Phone</div>
            <div>
                <input type="text" id="q5" name="q5" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>Q6. E-mail</div>
            <div>
                <input type="text" id="q6" name="q6" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <h2 class="mt-10 mb-4 text-2xl font-bold text-gray-700">1. GENERAL INFORMATION ABOUT THE INSTITUTION</h2>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I1. Name of the institution</div>
            <div>
                <input type="text" id="i1" name="i1" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I2. Institution code from the registry</div>
            <div>
                <input type="text" id="i2" name="i2" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I3. Address of the institution</div>
            <div>
                <input type="text" id="i3" name="i3" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4. The code of the administrative-territorial unit (МҲОБТ)</div>
            <div>
                <input type="text" id="i4" name="i4" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4a. Region</div>
            <div>
                <input type="text" id="i4a" name="i4a" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4b. District</div>
            <div>
                <input type="text" id="i4b" name="i4b" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4c. Settlement</div>
            <div>
                <input type="text" id="i4c" name="i4c" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I4d. Type of settlement</div>
            <div>
                <input type="text" id="i4d" name="i4d" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>I5. Type of institution</div>
            <div>
                <select id="i5" name="i5" class="border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100">
                    <option selected>Please select one of the following codes</option>
                    <optgroup label="Childcare institutions:">
                        <option value="11">11. Children&#39;s home (Baby home))</option>
                        <option value="12">12. Mehribonlik house</option>
                        <option value="13">13. Muruvat house for children with disabilities</option>
                    </optgroup>
                    <optgroup label="Boarding schools:">
                        <option value="21">21. Type I-II for deaf or with hearing impairments children</option>
                        <option value="22">22. Type III-IV for blind or visually impaired children</option>
                        <option value="23">23. Type V for children with severe speech impairments</option>
                        <option value="24">24. Type VI for children with musculoskeletal disorders</option>
                        <option value="25">25. Type VII for children with children with slow mental development/mental disorders</option>
                        <option value="26">26. Type VIII for children with intellectual disabilities</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <h2 class="mt-10 mb-4 text-2xl font-bold text-gray-700">2. INFORMATION ABOUT THE POSITION</h2>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>J1. Job title</div>
            <div>
                <input type="text" id="j1" name="j1" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>J2. Name of the department within the institution</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center gap-4">
                    <input type="text" id="j2" name="j2" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
                </div>
                <div class="flex items-center">
                    <input id="j2_na" type="checkbox" name="j2_na" value="80" class="w-4 h-4 text-blue-600 border-gray-400 rounded focus:ring-blue-500 disabled:bg-gray-100">
                    <label for="j2_na" class="ms-2 text-sm text-gray-900">80. Not applicable</label>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>J3. Job class:</div>
            <div class="col-span-1 flex flex-col gap-2">
                <div class="flex items-center">
                    <input id="j3-1" type="radio" value="1" name="j3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j3-1" class="ms-2 text-sm text-gray-900">1. Executive / Management</label>
                </div>
                <div class="flex items-center">
                    <input id="j3-2" type="radio" value="2" name="j3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j3-2" class="ms-2 text-sm text-gray-900">2. Healthcare / Medical</label>
                </div>
                <div class="flex items-center">
                    <input id="j3-3" type="radio" value="3" name="j3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j3-3" class="ms-2 text-sm text-gray-900">3. Care / Assistance</label>
                </div>
                <div class="flex items-center">
                    <input id="j3-4" type="radio" value="4" name="j3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j3-4" class="ms-2 text-sm text-gray-900">4. Education / Teaching</label>
                </div>
                <div class="flex items-center">
                    <input id="j3-5" type="radio" value="5" name="j3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j3-5" class="ms-2 text-sm text-gray-900">5. Psychosocial support</label>
                </div>
                <div class="flex items-center">
                    <input id="j3-6" type="radio" value="6" name="j3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j3-6" class="ms-2 text-sm text-gray-900">6. Administrative / Technical / Support</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>J4. Is there an approved job description available for this position?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="j4-1" type="radio" value="1" name="j4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j4-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="j4-2" type="radio" value="2" name="j4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j4-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>J5. Number of weekly working hours</div>
            <div>
                <input type="text" id="j5" name="j5" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>J6. Level of qualification / education required</div>
            <div class="col-span-1 flex flex-col gap-2">
                <div class="flex items-center">
                    <input id="j6-1" type="radio" value="0" name="j6" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j6-1" class="ms-2 text-sm text-gray-900">0. None</label>
                </div>
                <div class="flex items-center">
                    <input id="j6-2" type="radio" value="1" name="j6" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j6-2" class="ms-2 text-sm text-gray-900">1. Unfinished secondary education</label>
                </div>
                <div class="flex items-center">
                    <input id="j6-3" type="radio" value="2" name="j6" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j6-3" class="ms-2 text-sm text-gray-900">2. General secondary education</label>
                </div>
                <div class="flex items-center">
                    <input id="j6-4" type="radio" value="3" name="j6" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j6-4" class="ms-2 text-sm text-gray-900">3. Specialized secondary/vocational education</label>
                </div>
                <div class="flex items-center">
                    <input id="j6-5" type="radio" value="4" name="j6" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j6-5" class="ms-2 text-sm text-gray-900">4. Higher education</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>J7. Required level of experience (minimum number of years of work experience) for this position</div>
            <div class="flex items-center gap-4">
                <input type="text" id="j7" name="j7" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 disabled:bg-gray-100" />
                years            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>J8. Current status of the job:</div>
            <div class="col-span-1 flex flex-col gap-2">
                <div class="flex items-center">
                    <input id="j8-1" type="radio" value="1" name="j8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j8-1" class="ms-2 text-sm text-gray-900">1. Permanent employment</label>
                </div>
                <div class="flex items-center">
                    <input id="j8-2" type="radio" value="2" name="j8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j8-2" class="ms-2 text-sm text-gray-900">2. Temporary employment</label>
                </div>
                <div class="flex items-center">
                    <input id="j8-3" type="radio" value="3" name="j8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j8-3" class="ms-2 text-sm text-gray-900">3. Temporarily not occupied</label>
                </div>
                <div class="flex items-center">
                    <input id="j8-4" type="radio" value="4" name="j8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="j8-4" class="ms-2 text-sm text-gray-900">4. Vacant</label>
                </div>
            </div>
        </div>

        <h2 class="mt-10 mb-4 text-2xl font-bold text-gray-700">3. INFORMATION ABOUT THE EMPLOYEE</h2>


        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E1. First name, patronymic and surname of the employee</div>
            <div>
                <input type="text" id="e1" name="e1" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>EUID. Anonymized employee unique identifier</div>
            <div>
                <input type="text" id="euid" name="euid" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>
        <small class="italic uppercase block">AUTOMATICALLY GENERATED </small>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E2. Birth date</div>
            <div>
                <input type="text" id="e2" name="e2" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E3. Gender</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e3-1" type="radio" value="1" name="e3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e3-1" class="ms-2 text-sm text-gray-900">1. Male</label>
                </div>
                <div class="flex items-center">
                    <input id="e3-2" type="radio" value="2" name="e3" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e3-2" class="ms-2 text-sm text-gray-900">2. Female</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E4. Education level</div>
            <div class="col-span-1 flex flex-col gap-2">
                <div class="flex items-center">
                    <input id="e4-1" type="radio" value="0" name="e4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-1" class="ms-2 text-sm text-gray-900">0. None</label>
                </div>
                <div class="flex items-center">
                    <input id="e4-2" type="radio" value="1" name="e4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-2" class="ms-2 text-sm text-gray-900">1. Unfinished secondary education</label>
                </div>
                <div class="flex items-center">
                    <input id="e4-3" type="radio" value="2" name="e4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-3" class="ms-2 text-sm text-gray-900">2. General secondary education</label>
                </div>
                <div class="flex items-center">
                    <input id="e4-4" type="radio" value="3" name="e4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-4" class="ms-2 text-sm text-gray-900">3. Specialized secondary/vocational education</label>
                </div>
                <div class="flex items-center">
                    <input id="e4-5" type="radio" value="4" name="e4" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-5" class="ms-2 text-sm text-gray-900">4. Higher education</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E5. Profession/Specialization (as per formal qualifications, diploma obtained)</div>
            <div>
                <input type="text" id="e5" name="e5" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E6. Total number of years of experience in this area of work (including similar positions in other organizations)</div>
            <div class="flex items-center gap-4">
                <input type="text" id="e6" name="e6" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 disabled:bg-gray-100" /> years            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E7. Date of hiring within the institution</div>
            <div>
                <input type="text" id="e7" name="e7" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>


        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E8. Type of contract:</div>
            <div class="col-span-1 flex flex-col gap-2">
                <div class="flex items-center">
                    <input id="e8-1" type="radio" value="1" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-1" class="ms-2 text-sm text-gray-900">1. Permanent, full-time</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-2" type="radio" value="2" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-2" class="ms-2 text-sm text-gray-900">2. Permanent, part-time</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-3" type="radio" value="3" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-3" class="ms-2 text-sm text-gray-900">3. Fixed-term, full-time</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-4" type="radio" value="4" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-4" class="ms-2 text-sm text-gray-900">4. Fixed-term, part-time</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-5" type="radio" value="5" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-5" class="ms-2 text-sm text-gray-900">5. Concurrent internal contract</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-6" type="radio" value="6" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-6" class="ms-2 text-sm text-gray-900">6. Concurrent external contract</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-7" type="radio" value="7" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-7" class="ms-2 text-sm text-gray-900">7. Service contract / Freelance</label>
                </div>
                <div class="flex items-center">
                    <input id="e8-8" type="radio" value="8" name="e8" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e8-8" class="ms-2 text-sm text-gray-900">8. Other, specify ……</label>
                </div>
                <input type="text" id="e8_other" name="e8_other" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>


        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E9. Position/Specialty level or rank</div>
            <div class="col-span-1 flex flex-col gap-2">
                <div class="flex items-center">
                    <input id="e9-1" type="radio" value="1" name="e9" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-1" class="ms-2 text-sm text-gray-900">1. Higher category</label>
                </div>
                <div class="flex items-center">
                    <input id="e9-2" type="radio" value="2" name="e9" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-2" class="ms-2 text-sm text-gray-900">2. First category</label>
                </div>
                <div class="flex items-center">
                    <input id="e9-3" type="radio" value="3" name="e9" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-3" class="ms-2 text-sm text-gray-900">3. Second category </label>
                </div>
                <div class="flex items-center">
                    <input id="e9-4" type="radio" value="4" name="e9" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e4-4" class="ms-2 text-sm text-gray-900">4. Not applicable</label>
                </div>
            </div>
        </div>


        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E10. Is the employee directly involved in working with children?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e10-1" type="radio" value="1" name="e10" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e10-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e10-2" type="radio" value="2" name="e10" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e10-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E11. Does the employee work in night shifts?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e11-1" type="radio" value="1" name="e11" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e11-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e11-2" type="radio" value="2" name="e11" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e11-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E12. Does the employee work during weekends?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e12-1" type="radio" value="1" name="e12" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e12-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e12-2" type="radio" value="2" name="e12" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e12-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E13. Have the employee undergone advanced training courses in their specialization in the last three years?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e13-1" type="radio" value="1" name="e13" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e13-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e13-2" type="radio" value="2" name="e13" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e13-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>


        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E14. What is the total number of paid calendar leave days the employee is entitled to?</div>
            <div class="flex items-center gap-4">
                <input type="text" id="e14" name="e14" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 disabled:bg-gray-100" /> calendar days            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-6">
            <div>E15. What was the employee&#39;s overall gross monthly salary in March 2024?</div>
            <div>
                <input type="text" id="e15" name="e15" class="bg-white border border-gray-400 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-100" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E16. In the last three years, have there been any complaints against the employees regarding misconducts, bad treatments or abuses against the children placed in the institution?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e16-1" type="radio" value="1" name="e16" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e16-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e16-2" type="radio" value="2" name="e16" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e16-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E17. In the last three years, have the employee been sanctioned for any misconduct, bad treatments or abuse against the children placed in the institution?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e17-1" type="radio" value="1" name="e17" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e17-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e17-2" type="radio" value="2" name="e17" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e17-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>E18. Is the staff eligible for retirement within the next three years due to reaching pension age or already being of pension age?</div>
            <div class="col-span-1 flex items-center gap-4">
                <div class="flex items-center">
                    <input id="e18-1" type="radio" value="1" name="e18" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e18-1" class="ms-2 text-sm text-gray-900">1. Yes</label>
                </div>
                <div class="flex items-center">
                    <input id="e18-2" type="radio" value="2" name="e18" class="w-4 h-4 text-blue-600 border-gray-400 focus:ring-blue-500 disabled:bg-gray-200">
                    <label for="e18-2" class="ms-2 text-sm text-gray-900">2. No</label>
                </div>
            </div>
        </div>

    </form>
</body>

</html>
