<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>WorldBank</title>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link href="../dist/main.css" rel="stylesheet">
</head>

<body>
    <form class="px-6 mt-10">
        <div class="grid grid-cols-12 border">
            <div class="col-span-1 bg-stone-200 p-2"></div>
            <div class="col-span-11 p-2">
                <h1 class="text-4xl text-gray-700 pl-4 tracking-wide">Synthetic Data Collection Sheet Regarding Entries and Exits from the Childcare Institution and Specialized Boarding Schools</h1>
            </div>
        </div>

        <p class="mt-4 mb-2 text-xl">INTRODUCTION </p>
        <p class="mb-2">The primary goal of this data collection is to support the Government of Uzbekistan in transitioning from institutional care to family-type care for children deprived of parental care To achieve this, we aim to build a robust monitoring mechanism at the national level By collecting detailed data, we can inform evidence-based decisions and policies that promote family-based alternatives</p>
        <p class="mb-2">Another critical objective is to enhance the quality of services provided to children with disabilities in institutional care By understanding their unique needs and experiences, we can develop targeted interventions and improve their overall well-being Additionally, we seek to explore and promote adequate family-type alternatives for these children </p>
        <p class="mb-2">The purpose of this data collection sheet is to comprehensively track the dynamics of children&#39;s entries into and exits from child care institutions and boarding schools By capturing essential information, we aim to inform evidence-based decisions, enhance policies, and improve the overall functioning of child care services</p>
        <p class="mb-2">PURPOSE: The data collected through this instrument contributes to the understanding of the of the dynamics of children&#39;s transitions into and out of residential centers It helps us identify patterns, trends, and potential areas of concern or improvement</p>
        <p class="mb-2">How to complete: This questionnaire is to be completed individually for each institution operating at the time of the research (1 January 2024)</p>
        <p class="mb-2">Source of information: institution&#39;s documents</p>
        <p class="mb-2">Responsible for completion: the head of the institutions, coordinator or a person authorized by them</p>
        <p class="mb-2">Approximate average completion time: 40 minutes</p>

        <div class="grid grid-cols-2 gap-4 items-center mt-10">
            <div>Q1 Completion date of questionnaire</div>
            <div>
                <input type="text" id="q1" name="q1" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>Q2 Name, patronymics, and surname of the person who filled in the questionnaire</div>
            <div>
                <input type="text" id="q2" name="q2" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">Q3 Job title</div>
                    <div class="col-span-3">
                        <input type="text" id="q3" name="q3" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">Q4 Profession</div>
                    <div class="col-span-3">
                        <input type="text" id="q4" name="q4" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">Q5 Phone</div>
                    <div class="col-span-3">
                        <input type="text" id="q5" name="q5" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 items-center mt-4">
                    <div class="col-span-2">Q6 E-mail</div>
                    <div class="col-span-3">
                        <input type="text" id="q6" name="q6" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mt-10 mb-4 text-xl font-medium text-gray-700">1 GENERAL INFORMATION ABOUT THE INSTITUTION</h2>

        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>I1. Name of the specialized educational institution</div>
            <div>
                <input type="text" id="i1" name="i1" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>I2. Institution code from the registry</div>
            <div>
                <input type="text" id="i2" name="i2" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>I3. Address of the institution</div>
            <div>
                <input type="text" id="i3" name="i3" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>I4. The code of the administrative-territorial unit (МҲОБТ)</div>
            <div>
                <input type="text" id="i4" name="i4" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <div class="col-span-2">I4a. Region</div>
                    <div class="col-span-3">
                        <input type="text" id="i4a" name="i4a" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        <small class="italic text-red-500">(Automatically retrieved from I4)</small>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <div class="col-span-2">I4b. District</div>
                    <div class="col-span-3">
                        <input type="text" id="i4b" name="i4b" class="bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        <small class="italic text-red-500">(Automatically retrieved from I4)</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
            <div>I9. Type of institution</div>
            <div>
                <select id="i9" name="i9" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>Please select one of the following codes</option>
                    <optgroup label="Childcare institutions:">
                        <option value="11">11 Children&#39;s home (Baby home)</option>
                        <option value="12">12 Mehribonlik house</option>
                        <option value="13">13 Muruvvat house for children with disabilities</option>
                    </optgroup>
                    <optgroup label="Boarding schools:">
                        <option value="21">21 Type I-II for deaf or with hearing impairments children</option>
                        <option value="22">22 Type III-IV for blind or visually impaired children</option>
                        <option value="23">23 Type V for children with severe speech impairments</option>
                        <option value="24">24 Type VI for children with musculoskeletal disorders</option>
                        <option value="25">25 Type VII for children with children with slow mental development/mental disorders</option>
                        <option value="26">26 Type VIII for children with intellectual disabilities</option>
                    </optgroup>
                </select>
            </div>
        </div>



    </form>
</body>

</html>
